{% extends 'base.html' %}

{% block main %}
{% for item in items %}

<div class="list1">
<div class="row gx-5">
  <div class="col-md-6 mb-4">
    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
      <img src="{{item[5]}}" style="height: 500px;margin-left: 50px; width: 750px;" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
  </div>

  <div class="col-md-6 mb-2">
    <span class="autor_data">{{item[1]}} {{item[2]}}</span>
    <h2 class="title-main-page"><strong>{{item[3]}}</strong></h2>
    <p class="main-page">
      {{item[4]}}
    </p>
    <a href={{item[6]}}><button type="button" class="button1">Детальніше</button></a>
  </div>
</div>
</div>

{% endfor %}
{% endblock main %}